.consultation__text {
  margin: 9vw 20vw 0 8%;
}

.consultation__text_font {
  font-family: Arial, sans-serif;
  font-size: calc(8px + 0.6vw);
}
@media screen and (max-width: 530px) {
  .consultation__text_font {
    font-size: 2.1vw;
  }
}

.consultation__button {
  display: flex;
  margin-top: 3vw;
  margin-left: 60%;
}

.consultation__button_margin {
  margin-left: 4vw;
}
.consultation__text_padding {
  padding-top: 4vw;
}
