.how-we-work-title {
  margin-top: 160px;
  margin-right: 10%;
}

.how-we-work-row {
  width: 92%;
  margin-left: 8%;
<<<<<<< HEAD
  height: 43vw;
=======
  height: 550px;
>>>>>>> 0be081c5165c98b2bc26d64de19d62e4cdf4b749
}

.how-we-work-description {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}

.button-more {
  margin: 205px 10% 0 30%;
}


