.wrap {
  display: flex;
  height: auto;
}

.text-wrap {
  margin: 180px 0 250px 100px;
  width: 50%;
}

.title {
  font-family: Proxima Nova;
  font-size: 32px;
  font-weight: 900;
}
.description {

  font-family: Arial;
  font-size: 12px;
}
