.swiper-slide {

  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}


.titleText {
  font-size: 40px;
  font-weight: 900;
  font-family: Proxima Nova, sans-serif;
}

.textUnderLogo {
  margin-top: 10px;
  font-family: Proxima Nova, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.swiper-wrap-what {
  margin-top: 100px;
  height: 180px;
}
