.text-wrap {
<<<<<<< HEAD
  margin: 20% 0 0 16%;
=======
  margin: 180px 0 0 16%;
>>>>>>> 0be081c5165c98b2bc26d64de19d62e4cdf4b749
}

.title {
  font-family: Proxima Nova, sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.description {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.buttons {
  display: flex;
  margin-top: 3vw;
}

.margin-left-3vw {
  margin-left: 3vw;
}
