.text-wrap {
  margin: 20% 0 0 16%;
}

.title {
  font-family: Proxima Nova, sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.description {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.buttons {
  display: flex;
  margin-top: 3vw;
}

.margin-left-3vw {
  margin-left: 3vw;
}
